.listWrap :focus {
    background: #18bfe9;
    color: "black";
    text-align: "center";

    border:  1px solid#18bfe9;
    border-radius: 3em;
}

.listWrap :hover {
    border:  1px solid #6b6769;
    border-radius: 3em;
}