.listWrap {
    font-size: 40px;
}

.listWrap :focus {
    border-radius: 3em;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
}

.listWrap :hover {
    border-radius: 3em;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }