<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.horkov.mall.dao.UserDAO">
 
    <select id="selectUsers" parameterType="com.horkov.mall.dto.UserDTO" resultType="com.horkov.mall.dto.UserDTO">
        SELECT * FROM USER
    </select>
 
</mapper>